*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    position: relative;
    overflow: hidden;
}

.page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

.page>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 7vh;
    width: 50vw;
    position: absolute;
    top: 0%;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
}

.page>nav>h3{
    font-weight: 100;
}

.page>nav>button{
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
}

.page>video{
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.page-bottom{
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-bottom>img{
    width: 100%;
}

.page-bottom>h3{
    color: #dadada93;
    margin-bottom: 1vw;
}



.page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page1>h1,
.page2>h1
{
    font-size: 4vw;
    color: #fff;
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.page2{
    position: relative;
    height: 100%;
    width: 100%;
}

.page2>h1{
    position: absolute;
    bottom: 30%;
    left: 50%;
}

.page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page3{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.page3>img{
    width: 60%;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    
}

.page3Upper{
    height: 25%;
    width: 35%;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
}

.page3Upper>img{
    width: 60%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.page3UpperInner{
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    color: #ff823d;
    font-weight: 500;
    text-decoration: underline;
}
.page3UpperInner>h3:hover{
    cursor: pointer;
    color: #f2671c;
}

.page3>button{
    position: absolute;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 50px 50px;
    font-weight: 500;
    font-size: 1.2vw;
    background-color: #f9f9f9;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
}

.page3>button:hover{
    background: #000;
    color: #f4f4f4;
}

.page4{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.page4>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page4Inner{
    text-align: center;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translateX(-50%);
    font-size: 2vw;
}
.page5{
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}
.left5{
    height: 100%;
    width: 50%;
}
.left5>h1{
    font-size: 1.5vw;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translateX(-20%);
}
.right5{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 3vw;
}
.right5>p{
    width: 80%;
    font-size: 1.5vw;
    color: #484848d7;
}
.right5>button{
    padding: 10px 5px;
    border: none;
    background: #ff823d;
    color: #fff;
    font-weight: 400;
    border-radius: 50px;
    margin-top: 1.2vw;
}